body {
    padding-top: 70px;
   
  }

  textarea {
    resize: none;
    height: 100px;
}

  #questionCard {
      display: none;
      color:#06087a;
  }

  .navbar-text {
    font-weight: bold;
   
    
  }
  .btn-primary {
    color:white ;
    background-color :#06087a;
   
}
#scoreText {
    color: #06087a;
}

  #timerText {
    color: #fff;
    display: inline-block;
    font-weight: bold;
    color: #06087a;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
  }

  #scoreCard {
   color : #06087a;
    margin-top: 20px;
  }

  div.listBody {
    margin-left: auto;
    margin-right: auto;
    display: table;
    text-align: left;
  }
